# Example Environmental Variables which will make this project running
export BASE_URL='';
export SWAGGER_URL='api';
export DB_TYPE='mysql'
export DB_HOST='127.0.0.1'
export DB_PORT='3306'
export DB_USER='root'
export DB_PASSWORD='password'
export DB_NAME='checklist_item'
export ENVIRONMENT='local'
export SESSION_SECRET='Session Secret'
export SESSION_TIMEOUT_MINUTE='60'
export REDIS_HOST='127.0.0.1'
export COOKIE_DOMAIN='127.0.0.1'